* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

:root {
    --zoom-light: rgb(82, 78, 78);
    --zoom-dark: black;
    --zoom-lighter: white;
    --zoom-positive: green;
    --zoom-negative: red;
}

.debug #site_header {
    height: 100px;
}

.debug #site_main {
    height: 800px;
}

.debug #site_footer {
    height: 100px;
}

#site_header {
    background-color: var(--zoom-dark);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#site_main {
    background-color: var(--zoom-dark);
}

#site_footer {
    background-color: var(--zoom-light);
}

.button {
    background-color: var(--zoom-light);
    color: var(--zoom-lighter);
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
}

.container {
    width: 80%;
    max-width: 1200px;
    display: flex;
}

.row {
    width: calc(100/7);
    max-width: 100%;
}

.photo {
    position: relative;
    padding: 0.25rem;
}

.nome {
    position: absolute;
    z-index: 1;
    color: var(--zoom-lighter);
    background-color: var(--zoom-light);
    bottom: 5%;
    left: 2%;
}

.column {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.info{
    color: var(--zoom-lighter);
}

.end{
    color: var(--zoom-negative);
    background-color: grey;
}