/* #region Debug */

.debug #site_header {
    height: 100px;
}

.debug #site_main {
    height: 800px;
}

.debug #site_footer {
    height: 100px;
}

/* #endregion Debug */

/* #region Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
}

img {
    width: 100%;
}

/* #endregion Common */

/* #region Utilities */

:root {
    --zoom-light: rgb(82, 78, 78);
    --zoom-dark: black;
    --zoom-lighter: white;
    --zoom-positive: green;
    --zoom-negative: red;
}

/* #endregion Utilities */

/* #region Header */

#site_header {
    background-color: var(--zoom-dark);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    height: 40px;
    gap: 0.5rem;
}

.button {
    background-color: var(--zoom-light);
    color: var(--zoom-lighter);
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    border-style: none;
}

/* #endregion Header */

/* #region Main */
#site_main {
    background-color: var(--zoom-dark);
    height: calc(100vh - 40px - 70px);
    width: 100%;
    overflow-y: auto;
    /* height: 100vh; */
}

.container {
    padding: 2rem 2rem;
    height: calc(100vh - 30px - 70px);
    /* max-height: 100vh; */
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
    /* align-items: center; */
}

.row {
    width: calc(100/7);
    max-width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap:wrap;
    gap: 0.5rem;
}
 
/* .column {
    width: calc(100/5);
    display: flex;;
} */

.photo {
    position: relative;
    /* padding: 0.25rem; */
}

.nome {
    position: absolute;
    z-index: 1;
    color: var(--zoom-lighter);
    background-color: rgba(128, 128, 128, 0.644);
    bottom: 5%;
    left: 2%;
    padding: 0.25rem 0.25rem;
    text-align: center;
}

.info {
    color: var(--zoom-lighter);
}

/* #endregion Main */

/* #region Footer */

#site_footer {
    background-color: var(--zoom-light);
    /* height: 70px; */
    /* width: 100vw; */
    /* align-items: center; */
    /* padding: 0 1rem; */
    /* width: 100%; */
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.container_footer {
    width: 100%;
    /* height: 70px; */
    display: flex;
    /* height: 70px; */
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    /* padding: 0 1rem; */
    /* width: 100%; */
    /* width: 100vw; */
    /* padding: 2rem 2rem; */
    /* justify-content: space-between; */
    /* align-items: center; */
}

.end {
    color: var(--zoom-negative);
}

.left {
    display: flex;
    text-align: center;
    /* padding-left: 1rem; */
    justify-content: center;
    gap: 0.5rem;
}

.center {
    flex-grow: 3;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 0.5rem;
}

.right {
    display: flex;
    flex-grow: 0.2;
    /* align-self: center;
    text-align: center; */
}

.center>div {
    padding: 0.5rem;
}

.close_call {
    background-color: grey;
    height: 100%;
    /* padding: 1rem; */
}

/* #endregion Footer */